<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UTS SUBJECT-BOT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole("Editor") || User.IsInRole("Approver"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("FixedRules", "FixedRules"), @Url.Action("DyanamicRules", "DyanamicRules")">
                                Rules
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Fixed Rules", "Index", "FixedRules")
                                </li>
                                <li>
                                    @Html.ActionLink("Dynamic Rules", "Index", "DynamicRules")
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("DataMaintainer"))
                    {
                        <li>
                            @Html.ActionLink("Datatable", "Index", "DataTable")
                        </li>
                    }
                    @if (User.IsInRole("Editor") || User.IsInRole("Approver"))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("IndividualReport", "Report"), @Url.Action("OverallReport", "Report")">
                                Reports
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Individual Report", "IndividualReport", "Report")
                                </li>
                                <li>
                                    @Html.ActionLink("System Report", "OverallReport", "Report")
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UTS SUBJECT-BOT</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
