@using DialogMVC.Data
@model Fixedrule
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fixed Rule</title>
</head>
<body>
    <h1>Edit a Fixed Rule</h1>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.RuleId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-danger">
            @ViewBag.Error
        </p>
        <div class="form-group">
            @Html.LabelFor(x => x.Query, "Query", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(x => x.Query, new { @class = "form-control", @type = "Text" })
                @Html.ValidationMessageFor(x => x.Query, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Response, "Response", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.TextBoxFor(x => x.Response, new { @class = "form-control", @type = "Text" })
                @Html.ValidationMessageFor(x => x.Response, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>

        </div>
    </div>
    }
</body>
</html>